body {
  max-width: 700px;
  margin: 0 auto;
}

#menu-toggle-button {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 5px 8px;
}

.nav-menu-item {
  display: inline-block;
  padding: 10px 20px;
}

#search-button {
  background-color: black;
  border-radius: 8px;
}

.pull-right {
  float: right;
}

#side-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

#side-menu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#side-menu a:hover {
  color: #f1f1f1;
}

#side-menu .close-button {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

main {
  transition: margin-left 0.5s;
  padding: 0 20px;
}

@media screen and (max-height: 450px) {
  #side-menu {
    padding-top: 15px;
  }
  #side-menu a {
    font-size: 18px;
  }
}
