body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.custom_checkbox {
  display: inline-block;
  position: relative;
  padding-left: 24px;
  margin-bottom: 12px;
  cursor: pointer;
  user-select: none;
}

.custom_checkbox::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  height: 13px;
  width: 13px;
  background-color: #eee;
  border-radius: 2px;

  transition: background-color 200ms ease-in-out;
}

.custom_checkbox.checked::before {
  background-color: #2196f3;
}
